:root {
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Open Sans';
}

h1, h2, h3, h4, h5 {
    color: var(--very-dark-blue);
    margin: 3rem 0 1.38rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 2.488rem;
}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}

img {
    max-width: 100%;
}

.page__header {
    color: var(--very-dark-blue);
    padding: 0 72px 0;
    margin-bottom: 182px;
}

.page__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 72px 0;
}

.page__links {
    display: flex;
}

.page__links .link {
    color: var(--very-dark-blue);
    margin-right: 52px;
}

.page__links .link:last-child{
    margin-right: 0;
}

.page__links .link > a {
    color: var(--very-dark-blue);
    text-decoration: none;
}

.page__links .link > a:visited {
    color: var(--very-dark-blue);
}

.page__hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
}

.hero__information {
    align-self: center;
}

.hero__text {
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 1.5rem;
}

.hero__form {
    font-size: 0;
}

.form__input {
    width: 50%;
    height: 45px;
    border: 1px var(--desaturated-blue) solid;
    border-radius: 2px;
    margin-right: 16px;
    padding: 20px;
}

.form__input::placeholder {
    font-family: 'Open Sans';
    font-size: 14px;
    color: var(--light-gray);
}

.form__submit {
    width: 30%;
    height: 45px;
    outline: none;
    border: none;
    font-weight: 700;
    color: white;
    background-color: var(--bright-blue);
    border-radius: 2px;
    cursor: pointer;
}

.page__testimonials {
    background-image: url(../images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 114px;
    margin-bottom: 114px;
}

.page__testimonials__wrapper {
    display: grid;
    position: relative;
    padding: 0 72px 102px;
    top: 114px;
    grid-template-columns: 1fr 1fr;
    color: var(--very-dark-blue);
    background-color: var(--light-grayish-blue);
}

.testimonials__text {
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 1.5rem;
}

.testimonials__link {
    font-size: 19px;
    line-height: 24px;
    color: var(--moderate-cyan);
    text-decoration: none;
    border-bottom: 1px solid var(--moderate-cyan);
}

.testimonials__link:hover {
    color: hsl(170, 45%, 56%);
}

.testimonials__link__image {
    vertical-align: middle;
}

.testimonial {
    background-color: white;
    border-radius: 6px;
    width: 50%;
    padding: 24px;
    margin-top: 36px;
    -webkit-box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.54);
    box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.54);
}

.quote {
    margin-bottom: 8px;
}

.testimonial__text {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 12px;
}

.testimonial__wrapper {
    font-size: 0;
}

.testimonial__image {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 32px;
    margin-right: 8px;
}

.testimonial__information {
    display: inline-block;
    vertical-align: middle;
}

.testimonial__name {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
}

.testimonial__position {
    font-size: 9px;
}

.page__promotional {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    background-color: var(--desaturated-blue);
    padding: 102px 72px;
    align-items: center;
    gap: 140px;
}

.promotional__title {
    color: white;
    margin: 0;
    margin-bottom: 18px;
}

.promotional__text {
    font-size: 19px;
    line-height: 24px;
}

.promotional__form {
    font-size: 0;
}

.promotional__form .form__input {
    width: 90%;
    border: none;
    border-radius: 4px;
    margin-right: 0;
    margin-bottom: 16px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.54);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.54);
}

.promotional__form .form__input::placeholder {
    font-family: 'Open Sans';
}

.promotional__form .form__submit {
    width: 35%;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.54);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.54);
}

.page__footer {
    position: relative;
    color: white;
    padding: 98px 72px 98px;
    background-color: var(--very-dark-blue);
}

.footer__logo {
    margin-bottom: 24px;
}

.footer__wrapper {
    display: flex;
}

.footer__wrapper ul {
    margin-right: 15%;
}

.footer__wrapper ul li {
    margin-bottom: 24px;
}

.footer__wrapper ul li img {
    width: 24px;
    margin-right: 16px;
}

#phone-icon {
    width: auto;
}

#email-icon {
    width: auto;
}

.footer__wrapper ul li a {
    color: white;
    text-decoration: none;
}

.footer__wrapper ul li a:hover {
    color: var(--bright-blue);
}

.footer__social {
    display: flex;
}

.footer__social li img {
    cursor: pointer;
}

.form__submit:hover {
    background-color: hsl(224, 93%, 65%);
}

.attribution {
    position: absolute;
    bottom: 14px;
    left: 72px;
}

@media screen and (max-width: 1023px) {
    .page__header {
        padding: 0 16px 0;
        margin-bottom: 86px;
    }

    .page__navigation {
        padding: 32px 0;
    }

    .page__logo {
        width: 110px;
    }

    .page__links .link {
        margin-right: 16px;
    }

    .page__hero {
        grid-template-columns: unset;
        margin-top: 36px;
    }

    .hero__information {
        order: 2;
    }

    .hero__title {
        text-align: center;
        font-size: 1.5em;
    }

    .hero__text {
        text-align: center;
        font-size: 1em;
    }

    .hero__form .form__input,.hero__form .form__submit {
        width: 100%;
    }

    .hero__form .form__input {
        margin-bottom: 16px;
    }

    .page__testimonials {
        background-image: url(../images/bg-curve-mobile.svg);
        margin-bottom: 53px;
    }

    .page__testimonials__wrapper {
        grid-template-columns: unset;
        padding: 0 16px 102px;
    }

    .testimonials {
        order: 2;
    }

    .testimonials__title {
        font-size: 1.1em;
        text-align: center;
    }

    .testimonials__text {
        font-size: 1em;
    }

    .testimonials__link {
        font-size: 1em;
        text-align: center;
    }

    .testimonial {
        width: 100%;
    }

    .page__promotional {
        grid-template-columns: unset;
        padding: 102px 16px;
        gap: 30px;
    }

    .promotional__title {
        font-size: 1.5em;
        text-align: center;
    }

    .promotional__text {
        font-size: 1em;
        text-align: center;
        width: 96%;
    }

    .promotional__form {
        text-align: center;
    }

    .promotional__form .form__input {
        width: 80%;
    }

    .promotional__form .form__submit {
        width: 80%;
    }

    .page__footer {
        padding: 50px 32px;
    }

    .footer__wrapper {
        flex-flow: column;
    }

    .footer__wrapper ul {
        margin-right: unset;
        margin-bottom: 15px;
    }

    .footer__social {
        justify-content: center;
        align-items: center;
    }

    .footer__social li {
        margin-bottom: unset !important;
    }

    .attribution {
        left: 16px;
        bottom: 10px;
    }
}